body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background-color: #545454;
    color: #f8f8f8
}
a {
    fill: #6495ed;
    text-decoration: underline;
}

a:hover {
    fill: #3674e7;
}
.app-bar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #DE6C83;
    color: #fef;
}
.app-bar-end {
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
}
.app-bar-btn {
    border: none;
    background-color: transparent;
    color: #fef;
    margin: 0 10px;
    font-size: 16px;
}

.app-bar-btn:hover {
    color: #cbc;
}

.container {
    margin: 0 0 0 2vw;
    border: none;
    width: 95vw;
    height: 91vh;
    display: grid;
    grid-template-rows: [start] 32% [line2] 18% [line3] 18% [line4] 18%  [line5] 14% [end];
    grid-template-columns: [start] 10% [line2] 40% [line3] 3% [line4] 47% [end];
}
.title {
    text-align: center;
    font-size: 36px;
}
.long-chart {
    margin-bottom: 10px;
    display: flex;
    justify-self: start;
}

#tooltip-info {
    font-size: 12px
}

#detailed-tooltip {
    grid-row: line3 / end;
    grid-column: start / line2;
    margin: 20px 0 20px 0;

    display: flex;
    flex-direction: column;
}

.detailed-tooltip-label {
    font-size: 16px;
    text-align: center;
    margin: 0px;
}

.detailed-tooltip-value {
    font-size: 18px;
    color: #DE6C83;
    text-align: center;
    margin: 10px 0;
}

.detailed-tooltip-timestamp {
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    border-top: 3px solid #ECB0E1;
    border-bottom: 3px solid #ECB0E1;
}

#chart-selections {
    grid-row: line2 / line3;
    grid-column: start / line2;

    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

select {
    color: #f8f8f8;
    background-color: transparent;

    margin: 5px;
    padding: 3px;

    width: 80%;
    border-radius: 5px;
    border-color: #f8f8f8;
}


/* width */
select::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
  }
  
  /* Track */
select::-webkit-scrollbar-track {
    background: #545454;
  }
  
  /* Handle */
select::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
select::-webkit-scrollbar-thumb:hover {
    background: #999;
    border-radius: 10px;
  }
  
select option, select optgroup {
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    color: #f8f8f8;
    background-color: #545454;
}

#chart-one {
    grid-row: line2 / line3;
    grid-column: line2 / end;
}

#chart-two {
    grid-row: line3 / line4;
    grid-column: line2 / end;
}

#chart-three {
    grid-row: line4 / line5;
    grid-column: line2 / end;
}

#player-path-container {
    grid-row: start / end;
    grid-column: line4 / end;
    display: grid;
    grid-template-rows: [start] 5% [line2] 80% [line3] 15% [end];
    grid-template-columns: [start] 100% [end];
}
#player-path {
    grid-row: start / end;
    grid-column: start / end;
    position: relative;
    display: flex;
    align-self: center;
    justify-self: center;
}

#blizzard-world-map {
    grid-row: start / end;
    grid-column: start / end;
    width: 600px;
    height: 600px;
    opacity: 0.3;
    z-index: -100;
    margin: 38px 20px 0 0;
    display: flex;
    align-self: center;
    justify-self: center;
}

#timeline {
    grid-row: line5 / end;
    grid-column: line2 / end;
}

#single-value-statistics {
    margin-top: 20px;
    grid-row: start / line2;
    grid-column: start / line3;
}

.inactive {
    display: none;
}

.axis-grid line {
    stroke: #def;
}

.toggleIcon {
    cursor: pointer;
}